$tablet-breakpoint: 900px;
$desktop-breakpoint: 1200px;

:root {
    // spacing
    --base-spacing: 16px;
    --s1: calc(var(--base-spacing) / 8);
    --s2: calc(var(--base-spacing) / 4);
    --s3: calc(var(--base-spacing) / 2);
    --s4: var(--base-spacing);
    --s5: calc(var(--base-spacing) * 2);
    --s6: calc(var(--base-spacing) * 4);
    --s7: calc(var(--base-spacing) * 8);

    // colours
    --primary-color: #2266aa;
    --secondary-color: #ee9911;

    // text
    --font-size: 16px;
    --line-height: calc(var(--font-size) * 1.5);
    --color: #303030;

    // light
    --light-elevation: 1;

    --light-direct-x: 0.2;
    --light-direct-y: 0.8;
    --light-direct-softness: 0.2;
    --light-direct-colour: rgba(4, 64, 114, 0.199);

    --light-alt-x: -0.2;
    --light-alt-y: -0.5;
    --light-alt-softness: 0.4;
    --light-alt-colour: rgba(0, 1, 2, 0.025);

    --light-ambient-softness: 6;
    --light-ambient-colour: rgba(65, 48, 27, 0.082);
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    font-family: Segoe UI, "Montserrat Thin", Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    // padding: var(--s4);
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
    color: var(--color);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

// * + * {
//     margin-top: var(--s4);
// }
h1, h2, h3 {
    font-weight: 200;
}

h1 {
    font-size: calc(var(--font-size) * 2);
    line-height: calc(var(--font-size) * 3);
    // display:block;
    transition: box-shadow 0.2s;
}

h2 {
    font-size: calc(var(--font-size) * 2);
}

h3 {
    font-size: calc(var(--font-size) * 1.5);
    // font-weight: 800;
}

img {
    display: block;
    width: 100%;
}

.banner {
    padding: var(--s4);
    background-color: var(--primary-color);
    h1 {
        --color: white
    }
}

.padding {
    padding: var(--s4);
}

.box {
    --light-elevation: 1;
    background-color: white;
    border-radius: 4px;
    width: 100px;
    height: 50px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        --font-size: 1rem;
    }
    &.floating {
        --light-elevation: 6;
    }
    &:hover {
        --light-elevation: 32;
    }   
}
* + .box {
    margin-top: var(--s4);
}


.shadow {
    position: relative;
    z-index: var(--light-elevation);
    box-shadow:
        calc( var(--light-elevation) * var(--light-direct-x) *  1px) calc( var(--light-elevation) * var(--light-direct-y) *  1px) calc( var(--light-elevation) * var(--light-direct-softness) *  1px) var(--light-direct-colour),
        calc( var(--light-elevation) * var(--light-alt-x) *  1px) calc( var(--light-elevation) * var(--light-alt-y) *  1px) calc( var(--light-elevation) * var(--light-alt-softness) *  1px) var(--light-alt-colour),
        0 0 calc( var(--light-elevation) * var(--light-ambient-softness) *  1px) var(--light-ambient-colour);
    
}

.settings-bar {
    @extend .acrylic;
    @extend .shadow;
    --light-elevation: 33;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    margin: 0;
    padding: var(--s4);
    box-sizing: content-box;
    top:0;
    right: calc( var(--s4) * -2);
    height: 100%;
    width: 8px;
    max-width: 100%;
    opacity: 1;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    .container {
        width: 400px;
        max-width: 100vw;
    }
    &:hover {
        width: 400px;
        opacity: 1;
        transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &.changed {
        width: 400px;
    }
    &.close {
        width: 8px;
    }
}



.acrylic {
    color: var(--color);
}

.acrylic::before {
    content: "";
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(25px);
    background-color: rgba(252,252,252,0.6);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    transition: 0.2s;
}
.acrylic::after {
    content: "";
    background-image: url("/img/acrylicTexture.png");
    filter: grayscale(100%);
    background-size: 128px;
    opacity: 0.035;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: 0.2s;
}

.acrylic .btn {
    display: inline-block;
    background-blend-mode: overlay;
    background-color: rgba(#ffffff, 0.25);
    border: 2px solid rgba(#ffffff, 0.25);
    padding: var(--s2) var(--s4);
    &:hover {
        background-color: rgba(#888, 0.25);
        border: 2px solid rgba(#aaa, 0.25);
    }
}

.theme-dark {
    --color: white;
    --primary-color: #c93833;
    body {
        background-color: #333;
    }
    .acrylic {
        opacity: 1;
        &::before {
            background-color: rgba(#181818, 0.6);   
        }
        .btn {
            background-color: rgba(#000, 0.25);
            border: 2px solid rgba(#888, 0.25);
            &:hover {
                background-color: rgba(#888, 0.25);
                border: 2px solid rgba(#aaa, 0.25);
            }
        }
    } 
}

@import "_layout";